<tool name="APLTreeUtils">  <version>4.0.0</version>  <date>2016-08-30</date>  <folder>APLTreeUtils</folder>  <main>APLTreeUtils</main>  <files>  </files>  <needs>	<script>FilesAndDirs</script>	<script>OS</script>	<script>Tester</script>	<script>Logger</script>	<script>Execute</script>  </needs>  <scriptOnly>1</scriptOnly>  <lx></lx>  <wsid>APLTreeUtils</wsid>  <autoload>1</autoload></tool>